{{! resume v2 (slim) !}}

<html data-theme='light'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='stylesheet' href='{{baseUrl}}/static/vendor/bulma.min.css' />
    <link rel='stylesheet' href='{{baseUrl}}/static/css/style.css' />
  </head>

  <body>
    <section>
      <div class='has-text-centered mb-1'>
        <h1 class='title is-6 mb-1'>{{name}}</h1>
        <h2 class='subtitle is-7'>{{title}}</h2>
      </div>

      <div class='has-text-centered is-size-7 mb-1'>
        {{#each contacts}}
          <a
            href='{{this.url}}'
            class='has-text-link'
            target='_blank'
          >{{this.name}}</a>
          {{#unless @last}}&nbsp;&bull;&nbsp;{{/unless}}
        {{/each}}
      </div>

      <p
        class='is-size-7 has-text-justified has-white-space-pre-line'
      >{{summary}}</p>
    </section>

    {{#if experiences}}
      <section class='mt-4'>
        <div class='is-flex is-align-items-center mb-1'>
          <h3 class='title is-6 has-text-weight-bold mb-0' lang='en'>
            Experiences
          </h3>
          &nbsp;
          <span class='is-size-7 is-italic' lang='pt-br'>(Experiências)</span>
        </div>

        <div class='is-flex is-flex-direction-column is-row-gap-1 ml-4'>
          {{#each experiences}}
            <div>
              <div class='is-size-7 mb-1'>
                <span class='title is-7 has-text-weight-semibold'>
                  {{this.position}}
                </span>
                &bull;
                <span class='subtitle is-7'>
                  {{this.company}}
                </span>
                &bull;
                <span>
                  {{this.fromDate}}
                  —
                  {{this.toDate}}
                </span>
              </div>

              <p
                class='is-size-7 has-text-justified has-white-space-pre-line'
              >{{this.responsibilities}}</p>
            </div>
          {{/each}}
        </div>
      </section>
    {{/if}}

    {{#if educations}}
      <section class='mt-4'>
        <div class='is-flex is-align-items-center mb-1'>
          <h3 class='title is-6 has-text-weight-bold mb-0' lang='en'>
            Education
          </h3>
          &nbsp;
          <span class='is-size-7 is-italic' lang='pt-br'>(Formação)</span>
        </div>

        <div class='is-flex is-flex-direction-column is-row-gap-1 ml-4'>
          {{#each educations}}
            <div class='is-size-7 mb-1'>
              <span class='title is-7 has-text-weight-semibold'>
                {{this.course}}
              </span>
              &bull;
              <span class='subtitle is-7'>
                {{this.institution}}
              </span>
              &bull;
              <span>
                {{this.fromDate}}
                —
                {{this.toDate}}
              </span>
            </div>
          {{/each}}
        </div>
      </section>
    {{/if}}

    <section class='mt-4'>
      <div class='is-flex is-align-items-center is-justify-content-center'>
        <figure class='image is-16x16 mx-2'>
          <img src='{{baseUrl}}/static/img/_logo.png' />
        </figure>
        <div class='is-size-7' lang='en'>
          <span>Made with</span>
          <span class='has-text-weight-semibold'>Resuming</span>
        </div>
      </div>
    </section>
  </body>
</html>