{{! resume v1 (regular) !}}

<html lang='en' data-theme='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title>{{name}} - Resuming</title>
    <link rel='icon' href='/static/favicon.ico' />

    <link rel='stylesheet' href='/static/vendor/bulma.min.css' />
    <link rel='stylesheet' href='/static/vendor/bulma-tooltip.min.css' />
    <link rel='stylesheet' href='/static/vendor/animate.min.css' />
    <link rel='stylesheet' href='/static/css/style.css' />
    <script src='/static/vendor/fontawesome.min.js'></script>
  </head>

  <body>
    <main class='container px-5 my-6'>
      <div class='columns'>
        <div class='column is-full is-3'>
          <section
            class='is-flex is-flex-direction-column is-align-items-center'
          >
            <figure
              class='image is-max-width-192 animate__animated animate__fadeInLeft animate__delay-1s'
            >
              <img
                class='is-rounded'
                src='/static/img/{{picture}}'
                alt='{{name}}'
              />
            </figure>

            {{#if platforms}}
              <div
                class='is-flex is-column-gap-2 mt-3 animate__animated animate__fadeInLeft animate__delay-1500ms'
              >
                {{#each platforms}}
                  <a
                    class='icon is-medium is-borderless has-text-link has-tooltip-arrow has-tooltip-bottom'
                    data-tooltip='{{this.name}}'
                    href='{{this.url}}'
                    target='_blank'
                  >
                    <i class='{{this.icon}} fa-lg'></i>
                  </a>
                {{/each}}
              </div>
            {{/if}}
          </section>
        </div>

        <div class='column is-full is-9'>
          <section
            class='animate__animated animate__fadeInRight animate__delay-250ms'
          >
            <div class='mb-3'>
              <h1 class='title is-5 mb-1'>{{name}}</h1>
              <h2 class='subtitle is-6'>{{title}}</h2>
            </div>

            <p class='has-text-justified mb-3'>{{summary}}</p>
          </section>

          {{#if experiences}}
            <section
              class='mt-5 animate__animated animate__fadeInRight animate__delay-500ms'
            >
              <div class='is-flex is-align-items-center mb-4'>
                <h2 class='title is-5 has-text-weight-bold mb-1'>
                  Experiences
                </h2>
                &nbsp;
                <h3 class='subtitle is-6 is-italic' lang='pt-br'>
                  (Experiências)
                </h3>
              </div>
              <div class='is-flex is-flex-direction-column is-row-gap-3 ml-5'>
                {{#each experiences}}
                  <div>
                    <div>
                      <h3 class='title is-6 has-text-weight-semibold mb-0'>
                        {{this.position}}
                      </h3>
                      {{#if this.company}}
                        <h4 class='subtitle is-6 mt-1'>
                          {{this.company}}
                        </h4>
                      {{/if}}
                    </div>

                    {{#if this.responsibilities}}
                      <p
                        class='has-text-justified mt-2'
                      >{{this.responsibilities}}</p>
                    {{/if}}

                    <div class='is-size-7 mt-2'>
                      {{this.fromDate}}
                      —
                      {{this.toDate}}
                    </div>
                  </div>
                {{/each}}
              </div>
            </section>
          {{/if}}

          {{#if educations}}
            <section
              class='mt-5 animate__animated animate__fadeInRight animate__delay-750ms'
            >
              <div class='is-flex is-align-items-center mb-4'>
                <h2 class='title is-5 has-text-weight-bold mb-1'>Educations</h2>
                &nbsp;
                <h3
                  class='subtitle is-6 is-italic'
                  lang='pt-br'
                >(Formações)</h3>
              </div>
              <div class='is-flex is-flex-direction-column is-row-gap-3 ml-5'>
                {{#each educations}}
                  <div>
                    <div>
                      <h3 class='title is-6 has-text-weight-semibold mb-0'>
                        {{this.course}}
                      </h3>
                      {{#if this.institution}}
                        <h4 class='subtitle is-6 mt-1'>
                          {{this.institution}}
                        </h4>
                      {{/if}}
                    </div>
                    <div class='is-size-7 mt-2'>
                      {{this.fromDate}}
                      —
                      {{this.toDate}}
                    </div>
                    {{! ~ !}}
                  </div>
                {{/each}}
              </div>
            </section>
          {{/if}}
        </div>
      </div>

      <div class='is-position-fixed is-right-0 is-bottom-0 mr-5 mb-5'>
        <div
          class='dropdown is-up is-right is-hoverable animate__animated animate__fadeInUp animate__delay-1500ms'
        >
          <div class='dropdown-trigger'>
            <button class='button'>
              <div>
                <span>Actions</span>
                <span class='is-size-7 is-italic' lang='pt-br'>(Ações)</span>
              </div>
              <span class='icon is-small'>
                <i class='fas fa-angle-up'></i>
              </span>
            </button>
          </div>
          <div class='dropdown-menu'>
            <div class='dropdown-content'>
              <a class='dropdown-item is-unselectable' onclick='toggleTheme()'>
                <i class='fas fa-palette mr-2'></i>
                <span>Toggle theme</span>
                <span class='is-size-7 is-italic' lang='pt-br'>(Alternar tema)</span>
              </a>

              <hr class='dropdown-divider' />
              <a
                class='dropdown-item is-unselectable'
                href='/{{handle}}/export'
                target='_blank'
              >
                <i class='fas fa-download mr-2'></i>
                <span>
                  Save as PDF
                </span>
                <span class='is-size-7 is-italic' lang='pt-br'>
                  (Salvar como PDF)
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src='/static/js/script.js'></script>
  </body>
</html>